$base-width: 1920;
$base-height: 1080;

// set responsive width for screen
$resposive-width: 1400,1370,1280,1200,1080,1024,991,800,767,575,500,414,375,320;

// set responsive height for screen
$resposive-height: 1080,960,850,740,680,640,580,540,500,480;