.signup-modal-placeholder {

  .modal-content {
    border: none;
    padding: 0 15px;

    .modal-header {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .modal-title {
        font-size: 20px;
        font-family: 'Poppin-SemiBold';
        line-height: 20px;
        color: #2F3639;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
      }
    }

    .signup-form-with-tab {

      .tab-section {

        .job-seeker-form {
          margin-top: 25px;

          form {

            .form-row {
              width: 100%;
              padding-left: 10px;
              padding-right: 10px;
              margin-bottom: 20px;

              &.first-row {
                display: flex;
                gap: 10px;

                .first-name,
                .last-name {
                  width: 50%;
                }
              }

              input {
                border: 1px solid #DDDDDD;
                height: 50px;
                width: 100%;
                padding-left: 15px;
                font-family: 'Poppin-Light';
              }

              input::placeholder {
                font-size: 14px;
                color: #76899C;
              }

              input:focus {
                border: 1px solid #DDDDDD;
                outline: none;
              }
            }

            .submit-button {
              width: 100%;
              margin-top: 10px;

              .signup {
                width: 100%;
                padding: 15px 0;
                background: linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%);
                border-radius: 3px;
                color: #FFFFFF;
                font-size: 18px;
                font-family: 'Poppin-SemiBold';
                border: none;
                cursor: pointer;
              }
            }
          }
        }

        .company-form {
          margin-top: 25px;

          form {

            .form-row {
              width: 100%;
              margin-bottom: 25px;

              input,
              select {
                width: 100%;
                height: 50px;
                border: 1px solid #DDDDDD;
                padding-left: 10px;
                font-family: 'Poppin-Light';
                font-size: 14px;
                color: #76899C;
              }

              select {
                background: white;
              }

              input::placeholder {
                color: #76899C;
              }
            }

            .company-form-submit {
              width: 100%;

              .button-submit {
                width: 100%;
                padding: 15px 0;
                background: linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%);
                border-radius: 3px;
                color: #FFFFFF;
                font-size: 18px;
                font-family: 'Poppin-SemiBold';
                border: none;
                cursor: pointer;
              }
            }
          }
        }

      }
    }

    .modal-footer {
      margin-top: 30px;
      margin-bottom: 50px;

      .footer-signup-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        width: 100%;

        .text {
          color: #76899C;
          font-family: 'Poppin-Light';
          font-size: 14px;
        }

        .signinlink {

          .open-login-button {
            font-family: 'Poppin-Light';
            font-size: 14px;
            color: #3CD7FE;
            border: none;
            background: white;
            cursor: pointer;
          }
        }
      }
    }

  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.signup-modal-placeholder {
  width: 480px;
  background: white;
  border-radius: 6px;
}