@each $width in $resposive-width {
  @media screen and (max-width: #{$width}px) {
   
    #bannar-section {

        @if($width >= 769){
            height:  90vh;
        }
     
      .container {
        .row {
          .col-sm-12 {
            .left-side {
              .title {
               @if($width <= 500){
                 font-size: 22px;
                 text-align: center;
                 line-height: 30px;
               }
                span {
                  @if($width <= 500){
                    font-size: 22px;
                    text-align: center;
                  }
                }
              }

              .subtitle {
                @if($width <= 500){
                  
                  text-align: center;
                }
              }
              .search-section {
                form {
                  .input-group {
                    
                    input {
                    }
                    button {
                     
                    }
                  }
                }
              }
            }

            .right-side {
               
                @if($width >= 769){
                    margin-left: 0;
                }
              
              .bn-image {
                  
                  @if($width >= 769){
                      display: flex;
                      margin-top: 15px;
                      
                  }
                
                .bannar-vector {
                    @if($width >= 769){
                       margin: auto;
                    }

                    @if($width == 414){
                        width: 100%;
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}
