@font-face{
    font-family: 'Poppin-Regular';
    src: url(../vendor/Fonts/Poppins/Poppins-Regular.ttf);
};

@font-face{
    font-family: 'Poppin-Light';
    src: url(../vendor/Fonts/Poppins/Poppins-Light.ttf);
};

@font-face{
    font-family: 'Poppin-Medium';
    src: url(../vendor/Fonts/Poppins/Poppins-Medium.ttf);
};

@font-face{
    font-family: 'Poppin-SemiBold';
    src: url(../vendor/Fonts/Poppins/Poppins-SemiBold.ttf);
};

@font-face{
    font-family: 'Poppin-Bold';
    src: url(../vendor/Fonts/Poppins/Poppins-Bold.ttf);
};

@font-face{
    font-family: 'Roboto-Medium';
    src: url(../vendor/Fonts/Roboto/Roboto-Medium.ttf);
};

@font-face{
    font-family: 'Roboto-Bold';
    src: url(../vendor/Fonts/Roboto/Roboto-Bold.ttf);
};

@font-face{
    font-family: 'Roboto-Regular';
    src: url(../vendor/Fonts/Roboto/Roboto-Regular.ttf);
};

