#change_password{
    margin-top: 50px;
    .title{
        font-size: 16px;
        font-family: 'Poppin-Medium';
        line-height: 25px;
        color: #2F3639;
    }
    hr{

    }
    .change-password-card{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 3px #00000029;
        border: 1px solid #F4F4F4;
        border-radius: 4px;
        padding-top: 43px;
        padding-left: 33px;
        .title{

        }
    }
    hr{

    }
    form{
        .row{
            label{
                font-size: 11px;
                font-family: 'Poppin-Regular';
                color: #272727;
                line-height: 17px;
            }
            .col-sm-8{
                input{
                    width: 288px;
                    border: none;
                    border: 0.3px solid #76899C;
                    border-radius: 0rem;
                    height: 30px;

                }
                input::-webkit-input-placeholder { /* Edge */
                    color: #76899C;
                    font-size: 10px;
                    font-family: 'Poppin-Regular';
                }
                  
                input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #76899C;
                    font-size: 10px;
                    font-family: 'Poppin-Regular';
                }
                  
                input::placeholder {
                    color: #76899C;
                    font-size: 10px;
                    font-family: 'Poppin-Regular';
                }
                .submit-change-password{
                    width: 83px;
                    background-color: #277F6A;
                    font-family: 'Poppin-Medium';
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    border: none;
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }
        }
    }

}